<template>
  <v-toolbar fixed dark color="blue lighten-1">
    <v-toolbar-title class="white--text">
      <span class="home" @click="navigateTo({name: 'root'})">
        Flex-Opener
      </span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items>
        <v-btn v-if="!$store.state.isUserLoggedIn" flat dark @click="navigateTo({name: 'register'})">
         Register
       </v-btn>
      <v-btn v-if="!$store.state.isUserLoggedIn" flat dark @click="navigateTo({name: 'login'})">
        Sign in
      </v-btn>
    <v-menu v-if="$store.state.isUserLoggedIn" offset-y>
      <v-btn slot="activator" color="primary" dark>{{$store.state.user.email.split('@')[0]}}</v-btn>
      <v-list>
        <v-list-tile v-for="(item, index) in items" :key="index" @click="menuClick(index)">
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
export default {
  methods: {
    navigateTo (route) {
      this.$router.push(route)
    },
    logout () {
      this.$store.dispatch('setToken', null)
      this.$store.dispatch('setUser', null)
      this.$router.push({
        name: 'root'
      })
    },
    menuClick (index) {
      switch (index) {
        default:
          this.$store.dispatch('setToken', null)
          this.$store.dispatch('setUser', null)
          this.$router.push({
            name: 'root'
          })
          break
      }
    }
  },
  data: () => ({
    items: [
      { title: 'Dashboard' },
      { title: 'Inventory' },
      { title: 'Settings' },
      { title: 'Log Out' }
    ]
  })
}
</script>
<style scoped>
.home {
  cursor: pointer;
}
</style>
