<template>
<v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex v-for="i in 4" :key="`2${i}`" xs3>
        <v-card dark color="transparent">
          <v-card-text class="px-0">
            <h1><span style="color:black;">Cheaperino Case</span></h1>
            <img src="/static/images/cases/usp.png" alt="">
            <h2><span style="color:black;"><v-icon light right>attach_money</v-icon>0.99</span></h2>
            <v-btn color="info">Open now</v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.v-card-text {
  color: black;
}
</style>
