<template>
  <v-layout column>
    <v-flex class="pl-4 pr-4 pt-2 pb-2">
      <div class="blue lighten-5">
        <v-toolbar flat dense class="blue lighten-1" dark>
          <v-toolbar-title>Sign In</v-toolbar-title>
        </v-toolbar>
        <div class="pl-4 pr-4 pt-2 pb-2">
          <v-text-field
            label="Email"
            v-model="email"></v-text-field><br/>
          <v-text-field
            label="Password"
            type="password"
            v-model="password"></v-text-field>
          <br/>
          <v-alert v-if="this.error" :value="true" type="error" icon="new_releases" class="warning">
            You've provided wrong Email or Password!
          </v-alert>
          <br/>
          <v-btn dark @click="login" class="blue lighten-1">Sign in</v-btn>
        </div>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'
export default {
  data () {
    return {
      email: '',
      password: '',
      error: null
    }
  },
  methods: {
    async login () {
      try {
        const response = await AuthenticationService.login({
          email: this.email,
          password: this.password
        })
        this.$store.dispatch('setToken', response.data.token)
        this.$store.dispatch('setUser', response.data.user)
        this.$router.push({name: 'root'})
      } catch (err) {
        this.error = err.response.data.error
      }
    }
  }
}
</script>

<style scoped>
.error {
  color: red;
}
</style>
