<template>
  <v-layout column>
    <v-flex class="pl-4 pr-4 pt-2 pb-2">
      <div class="blue lighten-5">
        <v-toolbar flat dense class="blue lighten-1" dark>
          <v-toolbar-title>Register</v-toolbar-title>
        </v-toolbar>
        <div class="pl-4 pr-4 pt-2 pb-2">
          <form name="web-app-form" autocomplete="off">
          <v-text-field
            label="Email"
            v-model="email"></v-text-field><br/>
          <v-text-field
            label="Password"
            type="password"
            v-model="password"
            autocomplete="new-password"></v-text-field>
          </form>
          <br/>
          <div class="error" v-html="error" />
          <br/>
          <v-btn dark @click="register" class="blue lighten-1">Register</v-btn>
        </div>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'
export default {
  data () {
    return {
      email: '',
      password: '',
      error: null
    }
  },
  methods: {
    async register () {
      try {
        const response = await AuthenticationService.register({
          email: this.email,
          password: this.password
        })
        this.$store.dispatch('setToken', response.data.token)
        this.$store.dispatch('setUser', response.data.user)
        this.$router.push({name: 'root'})
      } catch (err) {
        this.error = err.response.data.error
      }
    }
  }
}
</script>

<style scoped>
.error {
  color: red;
}
</style>
